<div class="col-sm-6 mx-auto">
  <h1>Curd Operations</h1>
  <a routerLink="/curd-opt"> >Back </a>
  <h2>Add Person</h2>
  <form id="formNewProduct" name="formNewProduct" #productData="ngForm" (ngSubmit)="addNewProduct(productData.value)">
    <table>
      <tr><td><label for="name">Name: </label></td>
        <td><input type="text" name="name" id="name" placeholder="name" ngModel></td>
      </tr> <br>
      <tr><td><label for="email">Email: </label></td>
        <td><input type="email" name="email" id="email" placeholder="email" ngModel></td>
      </tr> <br>
      <tr><td colspan="2"><input type="submit" value="Add Person" class="btn btn-success"></td></tr>
    </table>
  </form>
  <br>
  <h3 *ngIf="isAdded">{{confirmationString}}</h3>
</div>